{% extends '@layout/default.html.twig' %}

{% block title %} News {% endblock %}

{% block content %}
    <div class="overlay">
        <section id="pageintro" class="clear">
            <!-- ################################################################################################ -->
            <ul class="nospace group services">
                <li class="one_third first">
                    <article class="overlay"><a href="#"><i class="fa fa-legal"></i></a>
                        <h6 class="heading">Dui leo egestas augue</h6>
                        <p>Maecenas libero nunc, volutpat eu erat sed, blandit elementum mi etiam
                            scelerisque&hellip;</p>
                        <footer><a href="/complete-news">Read More &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article class="overlay"><a href="#"><i class="fa fa-line-chart"></i></a>
                        <h6 class="heading">Eget molestie augue diam</h6>
                        <p>Donec facilisis volutpat ligula nec egestas aliquam malesuada, lectus sed sollicitudin&hellip;</p>
                        <footer><a href="/complete-news">Read More &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article class="overlay"><a href="#"><i class="fa fa-archive"></i></a>
                        <h6 class="heading">Fusce quis feugiat urna</h6>
                        <p>Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet&hellip;</p>
                        <footer><a href="/complete-news">Read More &raquo;</a></footer>
                    </article>
                </li>
            </ul>
            <!-- ################################################################################################ -->
            <br/>
            <br/><br/>
            <ul class="nospace group services">
                <li class="one_third first">
                    <article class="overlay"><a href="#"><i class="fa fa-legal"></i></a>
                        <h6 class="heading">Dui leo egestas augue</h6>
                        <p>Maecenas libero nunc, volutpat eu erat sed, blandit elementum mi etiam
                            scelerisque&hellip;</p>
                        <footer><a href="/complete-news">Read More &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article class="overlay"><a href="#"><i class="fa fa-line-chart"></i></a>
                        <h6 class="heading">Eget molestie augue diam</h6>
                        <p>Donec facilisis volutpat ligula nec egestas aliquam malesuada, lectus sed sollicitudin&hellip;</p>
                        <footer><a href="/complete-news">Read More &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article class="overlay"><a href="#"><i class="fa fa-archive"></i></a>
                        <h6 class="heading">Fusce quis feugiat urna</h6>
                        <p>Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet&hellip;</p>
                        <footer><a href="/complete-news">Read More &raquo;</a></footer>
                    </article>
                </li>
            </ul>
            <br/>
            <br/><br/>
            <ul class="nospace group services">
                <li class="one_third first">
                    <article class="overlay"><a href="#"><i class="fa fa-legal"></i></a>
                        <h6 class="heading">Dui leo egestas augue</h6>
                        <p>Maecenas libero nunc, volutpat eu erat sed, blandit elementum mi etiam
                            scelerisque&hellip;</p>
                        <footer><a href="/complete-news">Read More &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article class="overlay"><a href="#"><i class="fa fa-line-chart"></i></a>
                        <h6 class="heading">Eget molestie augue diam</h6>
                        <p>Donec facilisis volutpat ligula nec egestas aliquam malesuada, lectus sed sollicitudin&hellip;</p>
                        <footer><a href="/complete-news">Read More &raquo;</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article class="overlay"><a href="#"><i class="fa fa-archive"></i></a>
                        <h6 class="heading">Fusce quis feugiat urna</h6>
                        <p>Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet&hellip;</p>
                        <footer><a href="/complete-news">Read More &raquo;</a></footer>
                    </article>
                </li>
            </ul>
        </section>
    </div>
{% endblock %}