<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body>
<br/>
<br/>
<form action="/news" method="post" enctype="multipart/form-data">
    <label for="myfile">Select a file:</label>
    <input type="file" name="fileToUpload" id="fileToUpload">
    <br/> <br/>
    <label>Title:</label>
    <input type="text" name="title">
    <br/> <br/>
    <label>Short News</label>
    <input type="text" name="shortNews">
    <br/> <br/>
    <label>Long News</label>
    <input type="textarea" name="shortNews">
    <br/> <br/>
    <input type="submit"/>
</form>
</body>
</html>